---
/* eslint-disable astro/no-set-html-directive */
import ItemTag from "@/components/item-tag.astro";
import { EXPERIENCE } from "@/config/resume";
import { cn } from "@/styles/utils";
---

<section class="md:flex-[0.6] print:flex-[0.7]">
  <h2 class="mb-3 font-serif text-2xl font-medium text-primary print:text-xl">
    Experience
  </h2>
  <ul class="flex flex-col gap-12 print:gap-7">
    {
      EXPERIENCE.map(
        ({
          title,
          from,
          to,
          institution,
          location,
          skills,
          content,
          excludeFromPdf,
        }) => (
          <li
            class={cn(
              "flex flex-col gap-1 print:gap-0",
              excludeFromPdf && "print:hidden",
            )}
          >
            <p class="text-xl font-semibold tracking-tight print:mb-0.5 print:text-base">
              {title} @ {institution}
            </p>
            <p class="tracking-tight text-muted-foreground print:text-xs">
              {from} - {to}, {location}
            </p>

            <div class="mt-2.5 flex flex-wrap gap-1 print:hidden">
              {skills.map((skill) => (
                <ItemTag item={skill} />
              ))}
            </div>

            <div class="mt-2.5 flex flex-col gap-4 leading-relaxed tracking-tight text-muted-foreground print:mt-2 print:text-sm print:leading-normal print:text-foreground/80">
              {content.map((item) =>
                typeof item === "string" ? (
                  <p set:html={item} />
                ) : (
                  <div>
                    <p set:html={item.body} />
                    <ul class="mt-2 flex list-outside list-disc flex-col gap-1.5 pl-[18px] print:gap-1 print:pl-[2ch]">
                      {item.bulletPoints.map((point) => (
                        <li set:html={point} />
                      ))}
                    </ul>
                  </div>
                ),
              )}
            </div>
          </li>
        ),
      )
    }
  </ul>
</section>
