---
import {
  IconSend,
  IconBrandLinkedin,
  IconBrandGithub,
} from "@tabler/icons-react";

import PastWorkItem from "@/components/past-work-item.astro";
import SideProjectItem from "@/components/side-project-item.astro";
import { PROFILE, PAST_APPLICKABLE_WORK, SIDE_PROJECT } from "@/config";
import RootLayout from "@/layouts/root.astro";

const BIO =
  "I build purposeful and user-friendly mobile and web experiences. I'm also passionate about sustainable product development processes and dev tooling!";

const LINKS = [
  {
    Icon: IconSend,
    url: `mailto:${PROFILE.email}`,
    value: PROFILE.email,
  },
  {
    Icon: IconBrandLinkedin,
    url: PROFILE.linkedin.url,
    value: PROFILE.linkedin.username,
  },
  {
    Icon: IconBrandGithub,
    url: PROFILE.github.url,
    value: PROFILE.github.username,
  },
];
---

<RootLayout title="Nico Dinata - Software Engineer">
  {/* Hero section. */}
  <section class="container flex flex-col gap-8 pb-12 pt-8">
    <h1
      class="font-serif text-4xl font-semibold italic leading-tight text-primary"
    >
      User-centric <span class="not-italic tracking-tight text-foreground"
        >software engineer.</span
      >
    </h1>
    <p class="text-xl leading-normal tracking-tight text-foreground/80">
      {BIO}
    </p>

    <div class="flex flex-col gap-3 md:flex-row md:gap-12">
      {
        LINKS.map((link) => (
          <span>
            <a
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex items-center font-medium underline decoration-2 underline-offset-4 md:text-lg md:tracking-tight"
            >
              <link.Icon className="mr-1.5" />
              {link.value}
            </a>
          </span>
        ))
      }
    </div>
  </section>

  {/* Past work section. */}
  <section class="container flex flex-col gap-10 py-12">
    <div class="flex flex-col gap-2 md:gap-4">
      <span>
        <a href="#past-work">
          <h2
            id="past-work"
            class="mb-4 inline font-serif text-4xl font-semibold tracking-tight"
          >
            past work
          </h2>
        </a>
      </span>
      <p class="leading-relaxed tracking-tight text-foreground/80 md:text-lg">
        These are some of the projects I worked on in my previous role (note:
        their contents are confidential). Feel free to <a
          href={`mailto:${PROFILE.email}`}
          class="font-medium text-foreground underline decoration-2 underline-offset-4"
          >contact me</a
        > directly to discuss them, although I may be able to share only my role
        and general responsibilities.
      </p>
    </div>

    {
      Object.values(PAST_APPLICKABLE_WORK).map((work) => (
        <PastWorkItem {...work} />
      ))
    }

    <p class="font-serif text-xl">...and others.</p>
  </section>

  {/* Side project section. */}
  <section class="container flex flex-col gap-12 py-12 pb-12">
    <span class="-mb-4">
      <a href="#side-projects">
        <h2
          id="side-projects"
          class="mb-4 inline font-serif text-4xl font-semibold tracking-tight"
        >
          side projects
        </h2>
      </a>
    </span>

    {
      Object.values(SIDE_PROJECT).map((project) => (
        <SideProjectItem {...project} />
      ))
    }
  </section>
</RootLayout>
